<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input id="txtData" type = "text" placeholder="Search..." />
    <button onclick="fetchData()" id = "btn">Search</button>
    <div id="main"></div>
    <div id = "episodeList"></div>
    <script src="/javascripts/apiData.js"></script>
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
  </body>
</html>
